.site-title {
    padding-bottom: 25px;
}

.preload-fullpage {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer i {
    margin-left: 5px;
    margin-right: 5px;
}

.center-align {
    justify-content: center;
}

.select-dropdown li img {
    width: 80px !important;
}